.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-jewellery,
.btn-outline-jewellery:hover {
  background-color: #866c13 !important;
  color: white !important;
}
.btn-home,
.btn-outline-home:hover {
  background-color: #901a94 !important;
  color: white !important;
}
.btn-outline-jewellery {
  border-color: #866c13 !important;
  color: #866c13 !important;
}
.btn-outline-home {
  border-color: #901a94 !important;
}
.btn-outline-jewellery {
  border-color: #866c13 !important;
}
.btn-outline-home {
  border-color: #901a94 !important;
  color: #901a94 !important;
}
.btn-outline-dark {
  color: dark !important;
}

.border-jewellery {
  border-color: #866c13 !important;
}
.border-home {
  border-color: #901a94 !important;
}
.text-jewellery {
  color: #866c13 !important;
}
.text-home {
  color: #901a94 !important;
}
.BrainhubCarousel__arrows {
  background-color: #333333 !important;
  padding: 10px !important;
  margin: 3px;
}

.navbar-toggler{
  padding: 0!important;
  font-size: 0.9rem!important;
}
.navbar-brand{
  font-size: 1rem!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
